// config for IEO HPC

singularity {
    enabled = true
    runOptions = ' --bind /hpcnfs/ '   // Importante: per montare le cartelle del cluster
    cacheDir = '/hpcnfs/scratch/SPE/workspace/'
  }

process {
  executor = 'pbspro' // Importante: usa lo scheduler corretto
  queue = 'workq'
  scratch = '/scratch/' // Per usare lo scratch locale per i file temporanei
  withName: PICARD_MARKDUPLICATES {
    cpus = 1
    memory = 34.GB
  }
  withName: RSEM_CALCULATEEXPRESSION {
    cpus = 1
    memory = 34.GB
  }
  withName: QUALIMAP_RNASEQ {
    cpus = 1
    memory = 18.GB
  }
  withName: BEDTOOLS_GENOMECOV {
    cpus = 1
    memory = 18.GB
  }
  withName: SALMON_INDEX {
    cpus = 1
    memory = 34.GB
  }
  withName: SALMON_QUANT {
    cpus = 1
    memory = 25.GB
  }
  withName: SALMON_TX2GENE {
    cpus = 1
    memory = 15.GB
  }
}

//params {
//    modules {
//        'salmon_quant' {
//          // increase sensitivity for the mapping step
//            args          = "--validateMappings --minScoreFraction 0.6"
//        }
//    }
//}

//env {
//    PATH="/hpcnfs/software/singularity/3.7.0/bin/:/hpcnfs/software/anaconda/anaconda3/bin/:$PATH"
//}